<html>
<h1>{{ .Name }}</h1>
<h1>{{ .Level }}</h1>
<form action="/login-submit">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value=""><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" value=""><br><br>
    <input type="submit" value="Submit">
</form>
</html>