<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <form action="/sign_up" style="border:1px solid #ccc">
        <div class="container">
            <h1>Sign Up</h1>
            <p>{{.}}</p>
            <p>Please fill in this form to create an account.</p>
            <hr>

            <label><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <div class="clearfix">
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
        </div>
    </form>
</head>
<body>

</body>
</html>