<html>
    <h1>{{.}}</h1>
    <form action="/login-submit">
        <label for="ninjaId">User ID:</label><br>
        <input type="text" id="ninjaId" name="ninjaId" value="Wallace"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" value="badPassword"><br><br>
        <input type="submit" value="Submit">
    </form>
</html>